WebMediaBrowser/Connected Services/UserValidationWSRef/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UserValidation" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UserValidation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserWSDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserWSDTO" nillable="true" type="tns:UserWSDTO" />
</xs:schema>