WebMediaBrowser/Connected Services/UserValidationWSRef/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62025/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UserValidation" />
  <xs:element name="ValidateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UserValidation" minOccurs="0" name="userObject" nillable="true" type="q1:UserWSDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UserValidation" minOccurs="0" name="ValidateUserResult" nillable="true" type="q2:UserWSDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>